<h1>Recipes#new</h1>

<%# 親のフォーム %>
<%= form_with(model: @recipe, local: true) do |f| %>
  <div class="click-upload">
    <p>
      クリックしてファイルをアップロード
    </p>
    <%= f.file_field :image, id:"item-image" %>
  </div>

  <%= f.label "料理名"%>
  <%= f.text_field :title %>

  <%= f.label "ポイント！"%>
  <%= f.text_field :feature %>

  <%= f.label "カテゴリー"%>
  <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"categoey-select"}) %>

  <%= f.label "日持ち"%>
  <%= f.text_field :date %>

  <%= f.label "調理時間の目安"%>
  <%= f.text_field :cook_time %>
  <!-- プルダウンに変える -->

  <%= f.label "材料" %>

  <div id="btn-event" class="onegai">
    <div class="links">
      <%= link_to_add_association "材料を追加", f, :materials,
      class: 'btn btn-success',
      id: 'add-btn',
      data: {
        #association_insertion_traversal: 'closest',
        association_insertion_node: '#detail-association-insertion-point',
        association_insertion_method: 'after'}
        # data-association-insertion-node： '#追加分の差し込み先'
        # data-association-insertion-method：'差し込み先に対して上なのか下なのか...'
        #'before'差し込み先の上 'after'差し込み先の下 'append'追加されたものの下 'prepend'追加されたものの上
      %>
    </div>

    <%# ここに挿入さきがないと上にコンテンツが挿入されないため、Id付与できない  %>
    <div id="detail-association-insertion-point"></div>

    <%# 子供の追加要素へ飛ばす %>
    <div class="materials" id="categories">
    <%= f.fields_for :materials do |form| %>
      <%= render "material_fields", f: form %>
      <!-- f: formとなっていなかったためformが渡せていなかった-->
    <% end %>
    </div>
  </div>

<%# CKエディター %>
  <div class="cook">
    <%= f.fields_for :cook do |form| %>
      <div><%= form.cktext_area :body, class: "ck-editer" %></div>
    <% end %>
  </div>

<%# フォームの送信ボタン %>
  <div class="actions">
    <%= f.submit "送信" %>
  </div>
<% end %>