<!DOCTYPE html>
<html>
  <head>
    <title>Editor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
    <%= javascript_include_tag Ckeditor.cdn_url%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
